
<br>
<div class="header border border-dark opacity-100 d-flex justify-content-between rounded py-1" style="background-color: lightgray;">

    <nav class="nav">
        <a class="nav-link text-dark" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link text-dark" href="{% url 'alltrucks' %}">Trucks</a>
    </nav>

    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Logout</a>
        </li>
      </ul>
</div>




